<div class="ui container">
  <br>
  <h2 class="ui horizontal divider header">
    <i class="users icon"></i>
    Teams
  </h2>
  <div class="ui grid">
    <div class="three column row">
      <div class="column">
        <div class="ui segment">
          <table class="ui very basic center aligned table">
            <thead>
              <tr>
                <th>Denver Nuggets</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="#">George L</a><br>
                  <a href="#">Nick C</a><br>
                  <a href="#">Frank S</a><br>
                  <a href="#">Mike J</a><br>
                  <a href="#">Aria J</a><br>
                  <a href="#">Cindy R</a><br>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <table class="ui very basic center aligned table">
            <thead>
              <tr>
                <th>Miami Heat</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="#">Fred S</a><br>
                  <a href="#">Nick S</a><br>
                  <a href="#">Sam T</a><br>
                  <a href="#">Joe F</a><br>
                  <a href="#">Dre D</a><br>
                  <a href="#">Thomas D</a><br>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <table class="ui very basic center aligned table">
            <thead>
              <tr>
                <th>Chicago Bulls</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="#">Low S</a><br>
                  <a href="#">Alicia W</a><br>
                  <a href="#">Willie G</a><br>
                  <a href="#">Nick N</a><br>
                  <a href="#">Ralph W</a><br>
                  <a href="#">Roger K</a><br>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
