<h4 class="ui horizontal divider header">
  <i class="tag icon"></i>
  Activity Feed
</h4>

<%= render partial: 'partials/post_form' %>

<div class="ui feed">
  <% for activity in @activities %>
    <%= render_activity activity %>
  <% end %>
</div>
