<% cache "footer-normal" do %>
<div class="ui vertical footer segment" id="normal">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="twelve wide column">
        <h3 class="ui header">SportsAddict</h3>
        <p>&copy; 2015 All rights reserved</p>
      </div>
    </div>
  </div>
</div>
<% end %>
