<h4 class="ui horizontal divider header">
  <i class="trophy icon"></i>
  Game Summary
</h4>
  <%= render partial: 'partials/single_game_summary' %>

<h4 class="ui horizontal divider header">
  <i class="bar chart icon"></i>
  Stat Leaders
</h4>
  <%= render partial: 'partials/single_game_stat_leaders' %>
