<div class="ui card">
  <div class="content">
    <%= image_tag('nuggets.gif', class: "right floated mini ui image") %>
    <!-- <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg"> -->
    <div class="header">
      The Nuggets play the Heat Tonight!
    </div>
    <div class="meta">
      7:30 pm MT @DEN
    </div>
    <div class="description">
      Seen on: <strong>ALT</strong>
    </div>
  </div>
</div>
