<div class="ui inverted vertical footer segment" id="landing">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="twelve wide column">
        <h4 class="ui inverted header">SportsAddict</h4>
        <p>&copy; 2015 All rights reserved</p>
      </div>
    </div>
  </div>
</div>
