<div class="ui large fixed top menu">
  <div class="ui container">
    <%= link_to "SportsAddict", root_path, class: "item", id: "nav-logo-second" %>
    <div class="right menu">
      <%= link_to "Teams", teams_path, class: "ui item" %>
      <%= link_to "Dashboard", dashboard_path, class: "ui item" %>
      <%= link_to "Logout", logout_path, class: "ui item" %>
    </div>
  </div>
</div>
