<div class="ui large top menu">
  <div class="ui container">
    <a class="item" id="nav-logo-second">SportsAddict</a>
    <div class="right menu">
      <a class="ui item">Teams</a>            
      <a class="ui item">Fans</a>
      <a class="ui item">Logout</a>
    </div>
  </div>
</div>
