<h4 class="ui horizontal divider header">
  <i class="calendar icon"></i>
  Schedule
</h4>

<div class="ui items">
  <div class="item">
    <div class="ui tiny image">
      <!-- <img src="/images/wireframe/image.png"> -->
    </div>
    <div class="content">
      <div class="header">@CHI</div>
      <div class="meta">
        <span class="price">1/24/16</span>
        <span class="stay">7pm</span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui tiny image">
      <!-- <img src="/images/wireframe/image.png"> -->
    </div>
    <div class="content">
      <div class="header">LAL</div>
      <div class="meta">
        <span class="price">1/31/16</span>
        <span class="stay">8pm</span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui tiny image">
      <!-- <img src="/images/wireframe/image.png"> -->
    </div>
    <div class="content">
      <div class="header">@TOR</div>
      <div class="meta">
        <span class="price">2/2/16</span>
        <span class="stay">7pm</span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
</div>
