<table class="ui very basic table">
  <thead>
    <tr>
      <th></th>
      <th>Q1</th>
      <th>Q2</th>
      <th>Q3</th>
      <th>Q4</th>
      <th>Final</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>DEN</td>
      <td>21</td>
      <td>24</td>
      <td>28</td>
      <td>15</td>
      <td>105</td>
    </tr>
    <tr>
      <td>UTAH</td>
      <td>25</td>
      <td>19</td>
      <td>22</td>
      <td>27</td>
      <td>113</td>
    </tr>
  </tbody>
</table>
