<table class="ui definition table">
  <thead>
    <tr><th></th>
    <th>DEN</th>
    <th></th>
    <th>UTAH</th>
    <th></th>
  </tr></thead>
  <tbody>
    <tr>
      <td>PTS</td>
      <td>Emmanuel Mudiay</td>
      <td>26</td>
      <td>Trey Burke</td>
      <td>31</td>
    </tr>
    <tr>
      <td>REB</td>
      <td>Kenneth Faried</td>
      <td>12</td>
      <td>Derrick Favors</td>
      <td>10</td>
    </tr>
    <tr>
      <td>AST</td>
      <td>Emmanuel Mudiay</td>
      <td>9</td>
      <td>Rodney Hood</td>
      <td>7</td>
    </tr>
  </tbody>
</table>
