<div class="ui card">
  <div class="content">
    <i class="header">Standings</i>
    <div class="meta">
      Western Conference
    </div>
  </div>
  <div class="content">
    <table class="ui very basic collapsing celled table">
      <thead>
        <tr><th>Teams</th>
        <th>W-L</th>
      </tr></thead>
      <tbody>
        <% standings.each do |standing| %>
        <tr>
          <td>
            <h4 class="ui image header">
              <img src="/images/avatar2/small/lena.png" class="ui mini rounded image">
              <div class="content">
                <%= standing.city %>
                <div class="sub header"><%= standing.name %>
              </div>
            </div>
          </h4></td>
          <td>
            <%= standing.record %>            
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
