<div class="ui card">
  <div class="content">
    <i class="header">Standings</i>
    <div class="meta">
      Western Conference
    </div>
  </div>
  <div class="content">
    <table class="ui very basic collapsing celled table">
      <thead>
        <tr><th>Teams</th>
        <th>W-L</th>
      </tr></thead>
      <tbody>
        <tr>
          <td>
            <h4 class="ui image header">
              <img src="/images/avatar2/small/lena.png" class="ui mini rounded image">
              <div class="content">
                Oklahoma City
                <div class="sub header">Thunder
              </div>
            </div>
          </h4></td>
          <td>
            22-6
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="ui image header">
              <img src="/images/avatar2/small/matthew.png" class="ui mini rounded image">
              <div class="content">
                Utah
                <div class="sub header">Jazz
              </div>
            </div>
          </h4></td>
          <td>
            15-9
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="ui image header">
              <img src="/images/avatar2/small/lindsay.png" class="ui mini rounded image">
              <div class="content">
                Portland
                <div class="sub header">Trailblazers
              </div>
            </div>
          </h4></td>
          <td>
            12-15
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="ui image header">
              <img src="/images/avatar2/small/mark.png" class="ui mini rounded image">
              <div class="content">
                Denver
                <div class="sub header">Nuggets
              </div>
            </div>
          </h4></td>
          <td>
            11-19
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="ui image header">
              <img src="/images/avatar2/small/mark.png" class="ui mini rounded image">
              <div class="content">
                Minnesota
                <div class="sub header">Timberwolves
              </div>
            </div>
          </h4></td>
          <td>
            9-22
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
