<div class="event">
  <div class="label">
    <%= image_tag(activity['actor']['profile_image']) %>
  </div>
  <div class="content">
    <div class="summary">
      <strong><%= activity['actor'].name %></strong> posted on his page
      <div class="date">
        <%= time_ago_in_words(Time.zone.parse(activity['time'])) %> ago
      </div>
    </div>
    <div class="extra text">
      <%= activity['object'] %>
    </div>
  </div>
</div>
